@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #1d401d;
}

body {
  max-width: 2000px;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.modalGallery {
  background-color: #ffffff3a;
  backdrop-filter: blur(8px);
  overscroll-behavior: contain;
}

.gallery-grid {
  display: grid;
  gap: 20px;
}

.gallery-grid-item-a {
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery-grid-item-b {
  grid-column-start: 5;
  grid-column-end: 9;
}

.gallery-grid-item-c {
  grid-column-start: 9;
  grid-column-end: 13;
}

.gallery-grid-item-d {
  grid-column-start: 1;
  grid-column-end: 4;
}

.gallery-grid-item-e {
  grid-column-start: 4;
  grid-column-end: 7;
}

.gallery-grid-item-f {
  grid-column-start: 7;
  grid-column-end: 10;
}

.gallery-grid-item-g {
  grid-column-start: 10;
  grid-column-end: 13;
}

@layer components {
  .btn {
    @apply rounded-xl w-fit py-3 px-3;
  }
}
