@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #1d401d;
}

body {
  max-width: 2000px;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  scroll-behavior: smooth;
}

@layer components {
  .btn {
    @apply rounded-xl w-fit py-3 px-3;
  }
}

.modalGallery {
  background-color: #ffffffb4;
  backdrop-filter: blur(12px);
  overscroll-behavior: contain;
}

.gallery-grid {
  display: grid;
}

.gallery-grid-item-a {
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery-grid-item-b {
  grid-column-start: 5;
  grid-column-end: 9;
}

.gallery-grid-item-c {
  grid-column-start: 9;
  grid-column-end: 13;
}

.gallery-grid-item-d {
  grid-column-start: 1;
  grid-column-end: 4;
}

.gallery-grid-item-e {
  grid-column-start: 4;
  grid-column-end: 7;
}

.gallery-grid-item-f {
  grid-column-start: 7;
  grid-column-end: 10;
}

.gallery-grid-item-g {
  grid-column-start: 10;
  grid-column-end: 13;
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    LARGE                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1100px) {
  .gallery-grid-item-large-a {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .gallery-grid-item-large-b {
    grid-column-start: 4;
    grid-column-end: 7;
  }

  .gallery-grid-item-large-c {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gallery-grid-item-large-d {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .gallery-grid-item-large-e {
    grid-column-start: 5;
    grid-column-end: 7;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   MEDIUM                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 850px) {
  .gallery-grid-item-medium-a {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .gallery-grid-item-medium-b {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .gallery-grid-item-medium-c {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    SMALL                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
  .gallery-grid-item-small {
    grid-column-start: 1;
    grid-column-end: 1;
    height: unset;
    aspect-ratio: 3/2;
  }
}
